.markdown {
  p {
    margin: 1.5rem auto;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  ol {
    list-style-type: decimal;
    padding-left: 2rem;
  }

  ul {
    list-style-type: square;
    padding-left: 2rem;
  }

  ol, ul {
    p {
      margin: 0;
    }
  }
}

.text-red-500.phx-no-feedback {
  display: none;
}
