code {
  border: none;
}

.rev-Tabs-content {
  padding: 12px 0;

  .rev-InputLabel {
    margin: 0;
  }

  textarea {
    font-family: monospace;
    min-height: 300px;
  }
}

.rev-Tabs-titles {
  border: none;
  border-bottom: $tabs-border-size solid $tabs-border-color;
}

.rev-TabsTitle {
  border-left: $tabs-border-size solid $tabs-border-color;
  border-top: $tabs-border-size solid $tabs-border-color;

  + .rev-TabsTitle {
    border-left: none;
  }
}

.Image-placeholder {
  @include flex(center, column, center);
}

.MediaObject {
  @include flex(center, row, flex-start);
  flex-wrap: nowrap;
  position: relative;
}

.MediaObject-section {
  &:first-child {
    padding-right: 5px;
  }
}

.PostPreview {
  padding: 12px;
}
