<div class="m-auto text-center">
  <p>There are no TILs available to display. Please <%= link "add a TIL", to: Routes.post_form_path(@conn, :new), class: "hover:text-gray-900 font-medium text-gray-600" %>.
</div>
